@import '../../styles/variables';

.UsTitle {
  font-weight: bold;
  font-style: italic;
  background-color: $title-background-color;
  color: #ffffff;
  padding: 0.5em 1em 0.5em 0.5em;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 4em;
  z-index: 9;

  h1 {
    margin: 0 0.25em 0 0;
  }
}

.UsTitleIcon {
  display: block;
}

.FieldContainer {
  flex-grow: 1;
  display: flex;
}

.Field {
  background-color: $title-background-color-light;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  font-family: $main-font;
  border: 0;
  border-radius: 0.25em;
  padding: 0.2em 0.5em;
  color: #ffffff;
  margin-right: 1em;

  &::placeholder {
    color: $color-main-lighter;
  }
}

.UsTitleField {
  width: 65%;
}

.JiraTicketField {
  width: 35%;
}

.DeleteAllButton {
  &:hover {
    background-color: #cc0000;
    color: #ffffff;
  }
}
