.Criteria {
  border: 2px solid #888888;
  margin-bottom: 0.5em;
}

.title {
  background-color: #cccccc;
  border-bottom: 2px solid #888888;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;

  input {
    border: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.25em 0.5em;
    background-color: #eeeeee;
    width: 50%;
  }
}

.content {
  padding: 1em;
  background-color: #eeeeee;
}

.contentField {
  background-color: white;
  position: relative;
  height: 14em;
  width: 100%;

  textarea {
    background-color: transparent;
    z-index: 2;
    height: 12em;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    width: 100%;
    border: 0.1em solid black;
    margin: 0;
    height: 14em;
  }
}

.contentSuggestion {
  position: absolute;
  padding: 0.5em;
  color: #aaaaaa;
  z-index: 1;
  white-space: pre;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  border: 0.1em solid transparent;
  margin: 0;
}