@import '../../../../styles/_variables.scss';

.Increments {
  & > button {
    background-color: $button-increment-background-color;
    color: $button-increment-text-color;
    border-color: $button-increment-border-color;
  }
}

.list {
  margin-bottom: 2em;
}