@import '../styles/variables';

.UsTitle {
  font-weight: bold;
  font-style: italic;
  background-color: $title-background-color;
  color: #ffffff;
  padding: 0.5em 1em 0.5em 0.5em;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 4em;
  z-index: 9;

  h1 {
    margin: 0 0.25em 0 0;
  }

  input {
    background-color: $title-background-color-light;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    font-family: $main-font;
    border: 0;
    padding: 0.35em 0.5em 0.15em 0.25em;
    color: #ffffff;
    width: 50%;
    margin-right: 1em;
    flex-grow: 1;

    &::placeholder {
      color: $color-main-lighter;
    }
  }
}

.UsTitleIcon {
  display: block;
}

.Main {
  display: flex;
  padding-top: 4em;
}

.DeleteAllButton {
  &:hover {
    background-color: #cc0000;
    color: #ffffff;
  }
}
