@import '../../../styles/variables';

.Breadcrumb {
  background-color: #eeeeee;
  width: 20%;
  overflow: auto;
  position: fixed;
  height: calc(100% - 4em);

  ul {
    padding: 1em;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start; 
  }

  h2 {
    font-size: 1em;
    margin: 0;
    padding: 1rem 1rem 0 1rem;
  }
}

.BreadcrumbItem {
  cursor: pointer;
  border: 4px solid #888888;
  padding: 0.5rem;
  margin-bottom: 0.5em;

  h3 {
    margin: 0;
  }
}

.current {
  border: 4px solid $breadcrumb-highlight-color;
}