@import '../../../styles/variables';

.Breadcrumb {
  background-color: #eeeeee;
  width: 20%;

  ul {
    padding: 1em;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start; 
  }
}

.BreadcrumbItem {
  cursor: pointer;
  border: 4px solid #888888;
  padding: 1em;
  margin-bottom: 0.5em;

  h2 {
    margin: 0;
  }
}

.current {
  border: 4px solid $breadcrumb-highlight-color;
}