@import '../../styles/variables';

.solutionList {
  margin-bottom: 2em;

  input {
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-grow: 1;
  }
}

.solution {
  display: flex;
  align-items: center;
}

.selectedSolution {
  width: 100%;
}
