@import '../../../../styles/variables';

.Increment {
  border: 4px solid $increment-color;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
}

.title {
  background-color: $increment-color;
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25em;

  h2 {
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 1em;
  }

  select {
    background-color: $increment-color;
    border: 2px solid $color-secondary-light;
    font-family: $main-font;
    padding: 0;
  }
}

.criterias {
  padding: 1em;
  h3 {
    margin: 0;
  }
}

.notes {
  padding: 1em;
  h3 {
    margin: 0 0 1em 0;
  }
}

.secondary {
  display: flex;
  border-top: 2px solid $increment-color;
}

.dependencies {
  display: flex;
  border-top: 2px solid $increment-color;
  padding: 1em;
}
