// Palette

$color-main: #108119;
$color-secondary: #4c25aa;
$color-black: #000000;
$color-grey: #888888;
$color-white: #ffffff;

// Computed colors

$color-main-darker: darken($color-main, 30%);
$color-main-dark: darken($color-main, 15%);
$color-main-light: lighten($color-main, 15%);
$color-main-lighter: lighten($color-main, 30%);

$color-secondary-darker: darken($color-secondary, 30%);
$color-secondary-dark: darken($color-secondary, 15%);
$color-secondary-light: lighten($color-secondary, 15%);
$color-secondary-lighter: lighten($color-secondary, 30%);

$color-grey-darker: darken($color-grey, 30%);
$color-grey-dark: darken($color-grey, 15%);
$color-grey-light: lighten($color-grey, 15%);
$color-grey-lighter: lighten($color-grey, 30%);

// Color bindings

$title-background-color: $color-main;
$title-background-color-light: $color-main-light;

$subtitle-color: $color-grey;

$breadcrumb-highlight-color: $color-main;

$button-background-color: $color-grey-lighter;
$button-active-background-color: $color-grey-light;
$button-border-color: $color-grey;

$button-increment-background-color: $color-secondary;
$button-increment-active-background-color: $color-secondary-dark;
$button-increment-border-color: $color-secondary-dark;
$button-increment-text-color: $color-white;

$timer-progress-color: $color-main-lighter;
$timer-progress-background: $color-main-dark;

$increment-color: $color-secondary;

$guide-title-color: $color-main;
