@import '_variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0 0 1em 0;

  small {
    color: $subtitle-color;
  }
}

.phases {
  padding: 1em;
  width: 75%;
}

.phase-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.phase-main {
  width: 75%;
  padding-right: 3em;
}

.phase-guides {
  width: 25%;
}

.phase-guides h3 {
  color: $guide-title-color;
}

fieldset {
  padding: 0 0 0 2em;
  border: 0;
}

.field {
  margin-bottom: 0.5em;
}

.field input {
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.field-hint {
  color: #888888;
  padding-left: 0.5em;
}

label {
  width: 7em;
  display: inline-block;
}

textarea {
  width: 100%;
  height: 6em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
}

p {
  margin: 0 0 1em 0;
}

button, .file-field-container .button {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.35em;
  font-size: 1em;
  padding: 0.5em 2em;
  border: 1px solid $button-border-color;
  border-bottom: 4px solid $button-border-color;
  background-color: $button-background-color;

  &:active {
    margin-top: 3px;
    border-bottom-width: 1px;
  }

  &.title, &.criteriaTitle, &.timer, &.slackPoll {
    padding: 0 1em;
    border: 0;
    border-radius: 0;
    display: block;
    font-size: 1em;
    background-color: $color-secondary-lighter;
    color: $color-white;
    font-weight: bold;

    &:active {
      margin: 0;
    }
  }

  &.timer {
    background-color: $color-main-light;
    padding: 0.5em 1em !important;
    margin-right: 0.5em;

    &:active {
      margin-right: 0.5em !important;
    }
    &:hover {
      background-color: $color-main-lighter;
    }
  }

  &.criteriaTitle {
    background-color: $color-grey;
  }

  &.slackPoll {
    padding: 0;
    background-color: transparent;
    color: $color-secondary;
    font-size: 1.5em;
    display: inline;
    margin-left: 0.5em;

    &:active {
      margin-left: 0.5em !important;
    }
  }
}

select {
  border: 2px solid $button-border-color;
  font-size: 1em;

  &.title {
    border: 0;
    margin-left: 0.5em;
    background-color: $color-secondary-lighter;
    color: $color-white;
    font-weight: bold;
  }

  &.medium {
    font-size: 1.25em;
    padding: 0.15em 0.4em;
  }

  &.big {
    font-size: 1.5em;
    padding: 0.25em 0.5em;
  }
}

.checkField {
  label {
    width: auto;
    position: absolute;
    left: 25px;
    padding: 0.15em 0.5em;
  }
  
  .checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eeeeee;
    border: 2px solid #888888;
    display: inline-block;
  }

  input {
    //opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 0;

    &:checked ~ .checkMark {
      background-color: #4c25aa;
    }
  }

  width: 25%;
  position: relative;
  display: block;
  height: 25px;
}

.code {
  font-family: monospace;
  border: 1px solid #888888;
  padding: 1em;
  max-height: 25em;
  min-height: 20em;
  overflow-y: scroll;
  font-size: 1.2em;
  width: 100%;
}

.file-field-container {
  position: relative;

  .button {
    width: auto;
  }
}

input[type="file"] {
  opacity: 0;
}

